In [1]:
import os
import time
import selenium
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
from selenium import webdriver

In [3]:
from selenium.webdriver.support.ui import WebDriverWait

In [4]:
from selenium.webdriver.common.by import By

In [5]:
chromeOptions = webdriver.ChromeOptions()
prefs = {"plugins.always_open_pdf_externally":True}
chromeOptions.add_experimental_option("prefs",prefs)
# chromeOptions.headless = True
chromeOptions.add_argument("--disable-notifications")
chromedriver = "C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe"
browser = webdriver.Chrome(executable_path=chromedriver, chrome_options=chromeOptions)
browser.maximize_window()

In [6]:
browser.get("https://www.onlinejyotish.com/horo/")

In [7]:
A1 = "Aler"
A2 = "F"
A3 = 19
A4 = "March"
A5 = 2000
A6 = 6
A7 = "09(7 AM)"
A8 = 20
A9 = "American Samoa"
A10 ="Anasosopo"
A11 ="thejaswaroop1996@gmail.com"

In [8]:
Name = browser.find_element(By.ID,'name')

In [9]:
Name.send_keys(A1)

In [10]:
Sex = browser.find_element(By.ID,'sex')

In [11]:
Sex.send_keys(A2)

In [12]:
Day = browser.find_element(By.ID,'day')

In [13]:
Day.send_keys(A3)

In [14]:
Month = browser.find_element(By.ID,'month')

In [15]:
Month.send_keys(A4)

In [16]:
Year = browser.find_element(By.ID,'year')

In [17]:
Year.clear()

In [18]:
Year.send_keys(A5)

In [19]:
Hour = browser.find_element(By.ID,'hour')

In [20]:
Hour.send_keys(A7)

In [21]:
Minute = browser.find_element(By.ID,'minute')

In [22]:
Minute.send_keys(A8)

In [23]:
Country = browser.find_element(By.ID,'country')

In [24]:
Country.send_keys(A9)

In [25]:
City = browser.find_element(By.ID,'city')

In [26]:
City.clear()

In [27]:
City.send_keys(A10)

In [28]:
ci=browser.find_elements(By.ID,'livesearch')

In [29]:
time.sleep(10)

In [30]:
ci[0].click()

In [31]:
time.sleep(10)

In [32]:
Sub = browser.find_element(By.XPATH,"/html/body/div[2]/div/div/div/div[1]/form/div/div/table/tbody/tr[15]/td/input[4]")

In [33]:
time.sleep(5)

In [34]:
Sub.click()

In [35]:
Pd = browser.find_element(By.ID,'btn')

In [36]:
Pd.click()

In [37]:
PDF = browser.find_element(By.XPATH,'/html/body/div[2]/div/div/div[1]/a[1]')

In [38]:
PDF.click()

In [39]:
time.sleep(10)

In [40]:
try:
    x=browser.find_element(By.XPATH,'/html/ins')
    X1=x.find_element(By.ID,'aswift_6_host')
    browser.switch_to.frame('aswift_6')
    X2=browser.find_element(By.ID,'ad_iframe')
    browser.switch_to.frame(X2)
    browser.find_element(By.XPATH,'//*[@id="dismiss-button"]').click()
except:
    pass

<h3 style="color:green">PDF Extraction</h3>

In [3]:
!pip install PyPDF2

Defaulting to user installation because normal site-packages is not writeable
Collecting PyPDF2
  Downloading PyPDF2-2.11.1-py3-none-any.whl (220 kB)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\programdata\anaconda3\lib\site-packages (from PyPDF2) (4.1.1)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.11.1

In [4]:
import PyPDF2

In [5]:
import os

In [7]:
os.chdir(r'C:\Users\tswar\Downloads')

In [8]:
pwd

'C:\\Users\\tswar\\Downloads'

In [10]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A007-E621

 Directory of C:\Users\tswar\Downloads

04/13/2022  11:31 AM         6,002,438 (Lecture Notes in Computer Science 1682) Jan J. Koenderink, Andrea J. van Doorn (auth.), Mads Nielsen, Peter Johansen, Ole Fogh Olsen, Joachim Weickert (eds.) - Scale-Space Theories in Computer Vision.djvu
10/16/2022  01:01 AM    <DIR>          .
10/16/2022  01:01 AM    <DIR>          ..
07/21/2022  02:37 PM    <DIR>          .ipynb_checkpoints
06/20/2022  10:12 AM         4,690,415 1.2. Logistic Regression Code.pdf
05/04/2022  11:49 PM    <DIR>          1_DataScience Downloads
04/13/2022  11:49 AM         4,487,639 15_NEW-2020-ATTENTION-ENC-DEC-TRANSFORMERS-Lect15 (1).pptx
03/29/2022  02:38 PM         4,487,639 15_NEW-2020-ATTENTION-ENC-DEC-TRANSFORMERS-Lect15.pptx
01/06/2022  01:54 PM           475,957 20211006_172634.jpg
03/27/2022  05:37 PM        12,595,584 24926764_artificial-intelligence-background_by_danielcruise_preview.mp4
02/27/2022  10:14 PM            50,359 3c5e722af31d630fe4257f89cdbfba1f.jpg
03/27/2022  12:17 PM           157,054 693325.jpg
02/25/2022  06:32 PM            83,063 AdmissionCard-3073245-9e9918eb-a836-4498-be70-407a07179a7c-742.pdf
04/01/2022  11:48 AM           575,528 Akshay Kumar (1).pdf
04/01/2022  11:48 AM           575,528 Akshay Kumar.pdf
10/08/2022  03:39 PM       622,731,992 Anaconda3-2022.05-Windows-x86_64.exe
03/22/2022  03:39 AM            86,048 Architecture-EncoderDecoder_v2-1080x453.png
04/19/2022  02:38 PM           199,644 archive (1).zip
06/11/2022  12:38 PM            11,090 archive (2).zip
08/05/2022  08:35 PM    <DIR>          archive (3)
08/05/2022  08:31 PM        69,155,672 archive (3).zip
08/16/2022  04:32 PM        88,843,537 archive (4).zip
04/19/2022  02:38 PM           199,644 archive.zip
07/10/2022  08:42 PM           546,567 attention-mechanism-japanese-english.ipynb
03/15/2022  11:50 PM         2,203,390 avengers.ipynb
08/27/2022  12:40 PM           212,141 Bald-Eagle-Wallpaper-HD-to-spread-wings-yellow-beak-sharp-claws-1920x1440.jpg
04/12/2022  08:58 PM           178,871 BangaruSuresh[2_5] (1).pdf
04/12/2022  08:58 PM           178,871 BangaruSuresh[2_5].pdf
07/08/2022  01:00 PM         2,415,162 Basic2Advance (1).pdf
07/08/2022  01:00 PM         2,415,162 Basic2Advance.pdf
04/13/2022  11:31 AM         8,865,784 Bernd Jahne - Computer vision and applications-Academic Press (2000).djvu
04/13/2022  11:55 AM       447,685,170 Bernd Jahne - Computer vision and applications-Academic Press (2000).pdf
03/14/2022  09:57 AM           507,675 black box ppt.pdf
03/27/2022  05:54 PM         3,139,342 blue-curve-background.zip
06/17/2022  10:30 AM           598,092 Bot Articles Data.pdf
06/15/2022  05:10 PM            29,902 business.png
07/15/2022  09:25 PM         4,311,416 Candidate Handbook 2022.pdf
03/14/2022  10:18 AM         2,131,968 Chapter13.ppt
06/20/2022  04:22 PM           458,419 ChatBot.pdf
06/13/2022  04:15 PM           420,031 chatbot-master.zip
08/23/2022  10:26 PM        12,832,256 chromedriver.exe
03/23/2022  04:10 PM           684,858 Churn_Modelling.csv
12/31/2021  09:58 PM       594,585,791 Class Notes (PPT) & Codes-20211231T161712Z-001.zip
03/22/2022  10:54 PM            86,720 Copy of Teja (1).pdf
03/22/2022  10:54 PM            86,720 Copy of Teja (2).pdf
03/22/2022  10:54 PM            86,720 Copy of Teja (3).pdf
03/30/2022  02:34 PM            11,397 Copy of Teja (4).docx
03/30/2022  02:31 PM            87,491 Copy of Teja (4).pdf
03/30/2022  03:02 PM            10,933 Copy of Teja (5) (1).docx
03/30/2022  03:02 PM            10,933 Copy of Teja (5).docx
03/30/2022  03:01 PM            88,559 Copy of Teja (5).pdf
03/30/2022  03:37 PM            84,340 Copy of Teja (6).pdf
03/30/2022  03:38 PM             9,697 Copy of Teja (6)-converted.docx
03/30/2022  01:38 PM            11,369 Copy of Teja.docx
03/18/2022  11:23 PM            86,720 Copy of Teja.pdf
03/12/2022  06:45 PM         9,916,637 cornell_movie_dialogs_corpus.zip
04/04/2022  08:36 PM           100,779 Dasari (1).pdf
04/08/2022  08:25 AM           100,767 Dasari (2).pdf
04/08/2022  03:43 PM           100,767 Dasari (3).pdf
04/08/2022  03:44 PM           104,008 Dasari (4).pdf
04/08/2022  03:46 PM           103,911 Dasari (5).pdf
04/08/2022  03:52 PM           103,681 Dasari (6).pdf
06/21/2022  06:01 PM           110,962 Dasari Teja Swaroop Data Science Internship.pdf
04/12/2022  11:27 AM           355,070 Dasari Tejaswaroop (1).pdf
04/12/2022  10:19 AM           513,782 Dasari Tejaswaroop (1).png
04/12/2022  11:34 AM           184,014 Dasari Tejaswaroop (2) (1).pdf
04/12/2022  11:29 AM           184,014 Dasari Tejaswaroop (2).pdf
04/12/2022  11:30 AM           189,520 Dasari Tejaswaroop (3).pdf
04/12/2022  11:44 AM           177,618 Dasari Tejaswaroop (4).pdf
04/12/2022  11:45 AM           171,159 Dasari Tejaswaroop (5).pdf
04/12/2022  12:23 PM           177,066 Dasari Tejaswaroop (6).pdf
04/12/2022  12:25 PM           177,072 Dasari Tejaswaroop (7).pdf
04/12/2022  10:20 AM           184,113 Dasari Tejaswaroop.pdf
04/12/2022  11:43 AM           871,923 Dasari Tejaswaroop.zip
04/04/2022  08:28 PM           100,774 Dasari.pdf
05/11/2022  03:10 PM       576,202,147 Data Science & AI (SocialPrachar)-20220511T091726Z-001.zip
05/14/2022  02:52 PM    <DIR>          Data Science _ AI (SocialPrachar)
06/17/2022  05:24 PM            73,135 Data Scientist- Rebit-Navi Mumbai.pdf
07/15/2022  02:07 PM           117,035 Data Scientist.pdf
09/13/2022  01:27 PM    <DIR>          DataFiles
03/12/2022  04:18 PM            32,840 data-science-manager-resume-example.pdf
04/04/2022  05:55 PM             6,604 Data-Scientist-Intern-Resume-ExampleSS.docx
09/17/2022  04:19 PM           811,246 download.htm
03/20/2022  10:09 AM               732 Downloads - Shortcut.lnk
03/17/2022  07:03 PM            47,528 Dvyg3ntt.TTF
03/13/2022  07:16 PM        66,262,304 eng_to_hindi.h5
04/17/2022  10:24 AM           100,136 fantasy_antenna_cute_animal_green_background_hd_fantasy-1280x720.jpg
08/06/2022  12:13 PM           122,341 favicon.ico
08/30/2022  11:02 AM           963,698 Genrative_Bot.ipynb
09/06/2022  10:02 AM           743,529 GIT - VCS by Using AWS.pdf
02/24/2022  09:39 PM             1,752 gitattributes
06/15/2022  09:00 AM       126,260,112 GitHubDesktopSetup-x64.exe
04/23/2022  11:50 AM            79,068 Gopalreddy Annapureddy 24-08-99 (3).pdf
04/13/2022  11:14 AM        14,281,237 Hamed Habibi Aghdam, Elnaz Jahani Heravi (auth.) - Guide to Convolutional Neural Networks_ A Practical Application to Traffic-Sign Detection and Classification-Springer International Publishing (2017).pdf
10/15/2022  02:05 PM    <DIR>          Hari Data
06/18/2022  11:51 AM            20,981 IBM Datascience.docx
08/13/2022  09:22 AM            30,130 IDFCFIRSTBankstatement_10091496132 (1) (1).docx
08/13/2022  09:07 AM            30,130 IDFCFIRSTBankstatement_10091496132 (1).docx
08/13/2022  09:06 AM            73,074 IDFCFIRSTBankstatement_10091496132 (1).pdf
08/13/2022  09:05 AM            73,074 IDFCFIRSTBankstatement_10091496132.pdf
08/16/2022  08:30 PM            28,600 IDFCFIRSTBankstatement_10091496132_091828986 (1).docx
08/13/2022  09:23 AM            30,184 IDFCFIRSTBankstatement_10091496132_091828986.docx
08/13/2022  09:22 AM            73,256 IDFCFIRSTBankstatement_10091496132_091828986.pdf
07/23/2022  12:29 PM            24,946 IDFCFIRSTBankstatement_10091496132_235425848 (1).docx
07/23/2022  12:20 PM            25,034 IDFCFIRSTBankstatement_10091496132_235425848.docx
07/23/2022  12:20 PM            67,227 IDFCFIRSTBankstatement_10091496132_235425848.pdf
08/31/2022  03:38 PM       574,714,736 Image Caption Bot Project code-20220831T100014Z-002.zip
05/17/2022  12:11 AM    <DIR>          imbalanced-learn-0.9.1
09/09/2022  11:13 AM           451,039 imbalanced-learn-0.9.1.zip
04/13/2022  11:24 AM         2,778,222 IT Pro - York University._ Skillsoft Books - York University._ Ii, Taweh Beysolow - Applied Natural Language Processing with Python_ Implementing Machine Learning and Deep Learning Algorithms for Natu.pdf
06/21/2022  11:19 AM           450,475 Job Description_ Jr Data Scientist _ 2022 -05.pdf
01/22/2022  03:17 PM    <DIR>          kaggle_titanic-main
08/16/2022  08:16 PM            68,454 Letter of Appointment - D Teja.docx
08/16/2022  08:09 PM           256,429 Letter of Appointment - D Teja.pdf
05/11/2022  04:26 PM         2,022,361 Linear Regression.pdf
03/27/2022  05:27 PM         3,661,743 Messala ú SlidesCarnival (1).pptx
03/27/2022  05:27 PM         3,661,743 Messala ú SlidesCarnival.pptx
03/13/2022  07:14 PM             4,036 model.json
04/18/2022  10:39 AM       456,826,880 mysql-installer-community-8.0.28.0.msi
03/13/2022  09:43 PM         4,160,107 nlp-data-scientist-resume-example (1).docx
03/13/2022  09:05 PM            24,515 nlp-data-scientist-resume-example (1).pdf
03/12/2022  04:18 PM            24,515 nlp-data-scientist-resume-example.pdf
03/17/2022  11:38 PM            39,387 notebook57acaef15e (1).ipynb
03/17/2022  08:18 PM            39,387 notebook57acaef15e.ipynb
03/12/2022  06:37 PM             9,581 notebookf57bc242ad.ipynb
08/24/2022  03:04 PM            59,062 offer letter - Dasari Teja Swaroop (1).docx
08/24/2022  02:08 PM            59,014 offer letter - Dasari Teja Swaroop.docx
08/24/2022  03:18 PM           259,498 offer letter - Dasari Teja Swaroop.pdf
08/24/2022  02:02 PM            69,195 offer letter - teja Dasari (1).docx
08/24/2022  01:39 PM           257,027 offer letter - teja Dasari (1).pdf
08/17/2022  03:53 PM           257,027 offer letter - teja Dasari.pdf
06/13/2022  03:04 PM    <DIR>          OLX
03/22/2022  04:33 AM         9,007,756 olx_price_prediction_Prangya Prasmita Mahanta.pptx
10/15/2022  03:01 PM         1,915,676 onlinejyotish_1665826206.pdf
10/15/2022  08:27 PM         1,915,676 onlinejyotish_1665845845.pdf
10/15/2022  09:06 PM         1,915,676 onlinejyotish_1665848056.pdf
10/15/2022  09:10 PM         1,915,676 onlinejyotish_1665848319 (1).pdf
10/15/2022  09:10 PM         1,915,676 onlinejyotish_1665848319.pdf
10/15/2022  10:10 PM         1,853,990 onlinejyotish_1665851946.pdf
10/15/2022  10:17 PM         1,950,208 onlinejyotish_1665852380.pdf
10/15/2022  10:41 PM         2,987,459 onlinejyotish_1665853790.pdf
10/15/2022  11:24 PM         1,936,736 onlinejyotish_1665856313 (1).pdf
10/15/2022  11:24 PM         1,936,736 onlinejyotish_1665856313.pdf
10/16/2022  12:36 AM         1,950,804 onlinejyotish_1665860772.pdf
10/16/2022  12:52 AM         1,950,801 onlinejyotish_1665861288.pdf
10/16/2022  01:01 AM         2,043,330 onlinejyotish_1665862285.pdf
06/05/2022  09:39 PM    <DIR>          opencv
08/24/2022  02:07 PM            91,422 Payslip AUGUEST  2022 - D Teja Swaroop.docx
08/24/2022  01:57 PM           114,591 Payslip JULY 2022 - D Teja Swaroop (1).docx
08/24/2022  02:07 PM           114,591 Payslip JULY 2022 - D Teja Swaroop (2).docx
08/24/2022  01:57 PM           114,591 Payslip JULY 2022 - D Teja Swaroop.docx
08/24/2022  02:08 PM           114,592 Payslip JUNE 2022 - D Teja Swaroop.docx
04/12/2022  08:27 AM           196,835 pdf2png.zip
04/18/2022  11:21 AM           806,079 pexels-rodrigo-souza-2531709.jpg
03/17/2022  01:42 AM           529,218 -Pngtree-blue carbon background with sport_1200848.jpg
03/27/2022  05:59 PM           426,338 -Pngtree-geometric neon geometric forms and_1179018.jpg
06/15/2022  05:09 PM           257,230 pngwing.com (1).png
06/15/2022  05:23 PM           186,889 pngwing.com (2).png
06/15/2022  05:05 PM           546,503 pngwing.com.png
09/06/2022  10:56 AM    <DIR>          PortableGit
04/04/2022  05:55 PM             3,958 Professional-Data-Scientist-Resume.doc.zip
08/14/2022  09:44 AM            37,689 Profile.pdf
04/12/2022  08:27 AM    <DIR>          Ravi-Resume
04/12/2022  08:11 AM            44,665 Ravi-Resume.pdf
04/12/2022  08:20 AM            29,481 Ravi-Resume-converted.docx
03/12/2022  06:28 PM            52,380 RC_2015-01.bz2.torrent
06/13/2022  05:16 PM        50,860,785 ReactChatBot-master.zip
06/08/2022  04:14 PM           366,538 react-speech-recognition-master.zip
03/24/2022  09:33 AM            61,870 Real_Combine.csv
08/06/2022  11:51 AM        41,571,801 realistic-galaxy-background.zip
07/06/2022  09:21 PM            62,976 Resume (1).doc
04/25/2022  11:15 AM           178,751 Resume (1).pdf
08/14/2022  11:36 AM            32,828 Resume (1)samp.docx
04/25/2022  02:05 PM           178,596 Resume (2).pdf
04/20/2022  12:02 PM           178,843 Resume.pdf
08/01/2022  09:20 AM            27,868 Revise_Mahes sir_Batch.pdf
06/15/2022  04:51 PM            18,913 robotics.png
08/29/2022  09:48 AM    <DIR>          ROHAN SIR BATCH
10/15/2022  10:17 AM    <DIR>          Rohan Sir Batch Task Submission
07/22/2022  10:57 AM            43,283 Rohan_Sir_Batch.pdf
04/07/2022  11:41 AM             5,741 sarees.csv
09/03/2022  12:40 PM       157,820,120 Seq2Seq chatbot using keras _ lstm _ deep learning chatbot _ python.mp4
06/20/2022  10:48 PM            49,928 Set _B.pdf
06/21/2022  10:18 AM            31,658 Set___B (1).pdf
06/21/2022  10:20 AM            31,658 Set___B (2).pdf
06/21/2022  10:16 AM            31,658 Set___B.pdf
06/20/2022  10:21 PM            42,918 Set_A.pdf
06/15/2022  05:00 PM             4,325 signal.png
03/20/2022  10:32 AM           113,336 skipgram-vs-cbow-continuous-bag-of-words-word2vec-word-representation-1024x538.png
08/11/2022  09:55 AM            38,661 SocialPrachar.AI.pdf
02/24/2022  08:10 AM    <DIR>          socialpro1
08/27/2022  12:46 PM    <DIR>          SocialTek
05/11/2022  09:44 AM        76,735,811 SocialTek.zip
06/24/2022  10:40 AM    <DIR>          SocialTek_Batch
08/14/2022  11:54 AM            28,497 srinivas@resume.docx
02/27/2022  10:08 PM           520,655 stock-footage-cosmic-meditation-silhouette-of-a-person-sitting-in-lotus-pose-and-achieving-enlightenment.webm
08/29/2022  10:40 AM         1,656,720 STROKE PREDICTION. - Jupyter Notebook.pdf
07/11/2022  09:43 AM    <DIR>          Sudoku_student_solution_solved_copy2
07/11/2022  09:43 AM           386,107 Sudoku_student_solution_solved_copy2.zip
07/13/2022  11:44 AM           142,514 Synopsis.pdf
08/18/2022  04:16 PM            20,580 Task 1.pdf
07/20/2022  05:27 PM         1,424,168 TeamsSetupx64_s_8DA6A474E6C7AC6-7-0_c_w_.exe
06/14/2022  04:28 PM    <DIR>          Technical-Service-Documentation-Template
06/14/2022  04:28 PM         2,226,606 Technical-Service-Documentation-Template.zip
03/16/2022  10:00 AM            35,481 Teja (1).ipynb
04/12/2022  12:28 PM           176,741 TEJA (1).pdf
06/08/2022  11:14 AM           837,738 TEJA (1).zip
04/16/2022  11:25 AM           186,282 TEJA (10).pdf
04/16/2022  11:26 AM           186,282 TEJA (11).pdf
04/16/2022  11:26 AM           186,282 TEJA (12).pdf
04/20/2022  11:30 AM           142,410 TEJA (13).pdf
04/20/2022  11:50 AM           178,929 TEJA (14).pdf
04/20/2022  11:54 AM           142,796 TEJA (15).pdf
04/21/2022  02:10 PM           309,135 TEJA (16).pdf
04/21/2022  02:11 PM           178,751 TEJA (17).pdf
04/25/2022  01:32 PM           178,587 TEJA (18).pdf
04/25/2022  01:43 PM           178,596 Teja (19).pdf
04/12/2022  12:31 PM           176,702 TEJA (2).pdf
05/03/2022  11:10 AM           187,042 TEJA (20).pdf
04/12/2022  08:07 PM           177,804 TEJA (3).pdf
04/12/2022  08:23 PM           177,806 TEJA (4) (1).pdf
04/12/2022  08:15 PM           177,806 TEJA (4).pdf
04/13/2022  01:02 AM           137,380 TEJA (5).pdf
04/13/2022  07:31 AM           374,655 TEJA (7).pdf
04/13/2022  10:35 AM           186,134 TEJA (8).pdf
04/13/2022  10:43 AM           186,446 TEJA (9).pdf
08/13/2022  11:17 AM           131,832 Teja offer letter (1).docx
08/13/2022  11:16 AM           131,832 Teja offer letter.docx
06/21/2022  05:53 PM           779,963 Teja offer letter.pdf
06/17/2022  04:23 PM           115,177 TEJA.docx
03/15/2022  10:20 AM            21,141 Teja.ipynb
03/22/2022  09:17 AM           136,620 Teja.pdf
04/12/2022  08:14 PM           355,360 TEJA.png
04/20/2022  11:54 AM         1,544,602 TEJA.zip
09/06/2022  01:28 PM           359,482 Teja1996.pdf
03/30/2022  03:17 PM            86,927 Teja5[DataScience] (1).pdf
03/30/2022  03:11 PM            86,927 Teja5[DataScience].pdf
04/04/2022  06:09 PM           199,107 Tejaai.pdf
03/30/2022  02:44 PM            86,151 TejaDS.pdf
04/18/2022  12:47 PM           184,258 TejaSwaroopD.pdf
03/15/2022  09:07 PM         9,872,852 test.csv.zip
03/27/2022  05:25 PM           868,990 tf89753508_win32.potx
03/30/2022  11:03 PM           102,248 topics_for_revision (2).pdf
03/30/2022  11:03 PM           126,739 topics_for_revision (3).pdf
03/15/2022  09:07 PM        38,841,253 train.csv.zip
08/30/2022  09:29 AM        22,591,192 training_model.h5
07/10/2022  11:38 PM           529,843 treetop-sunlight-close-up-laptop-2seq9fwbam6zo1cx.jpg
01/25/2022  04:37 PM    <DIR>          Tswarup
01/25/2022  04:36 PM           798,354 Tswarup.rar
09/17/2022  10:36 PM        29,203,558 Tweet_NFT.xlsx - Sheet1 (1).csv
04/26/2022  12:38 PM           257,501 Understanding File Keras sequence to sequence English to french.ipynb
04/26/2022  12:38 PM           334,356 undertsanding file keras seq to seq .ipynb
06/16/2022  05:20 PM           449,935 Untitled document.pdf
05/31/2022  09:53 PM             3,283 Untitled1.ipynb
04/07/2022  02:41 PM            27,590 Untitled126-Copy1.ipynb
07/29/2022  02:18 PM         6,378,633 Untitled2 (1).ipynb
07/21/2022  03:47 PM            18,743 Untitled2.ipynb
08/04/2022  03:11 PM         4,394,118 Untitled20.ipynb
07/20/2022  09:53 AM             4,892 Untitled22.ipynb
03/22/2022  02:16 AM           306,433 Untitled3 (1).ipynb
03/30/2022  12:48 AM           444,536 Untitled3 (2).ipynb
03/21/2022  03:47 PM           115,708 Untitled3.ipynb
03/17/2022  09:53 PM           142,483 Untitled7.ipynb
03/22/2022  02:15 AM           145,719 Untitled7777.ipynb
03/20/2022  10:07 AM           810,235 uwp2153755.png
06/16/2022  05:26 PM           449,931 Veerlop.pdf
04/13/2022  11:33 AM         6,038,695 Vishwanathan Narayanan - Data Science and Machine Learning Interview Questions Using Python_ A Complete Question Bank to Crack Your Interview (English Edition).pdf
06/15/2022  11:47 AM           344,755 Voice1text-Document.pdf
06/14/2022  05:54 PM           344,267 Voice2Text.pdf
07/20/2022  11:20 AM           227,972 WA_Fn-UseC_-HR-Employee-Attrition.tsv.txt
03/23/2022  02:15 PM           977,501 WA_Fn-UseC_-Telco-Customer-Churn.csv
03/23/2022  12:19 AM           846,903 wallpaperflare.com_wallpaper (1).jpg
04/21/2022  09:46 AM         1,418,777 wallpaperflare.com_wallpaper (10).jpg
06/19/2022  08:38 AM           328,892 wallpaperflare.com_wallpaper (11).jpg
06/19/2022  08:40 AM         1,613,717 wallpaperflare.com_wallpaper (12).jpg
03/31/2022  09:05 AM         1,093,858 wallpaperflare.com_wallpaper (2).jpg
04/01/2022  11:57 AM           986,733 wallpaperflare.com_wallpaper (3).jpg
04/01/2022  06:54 PM           468,434 wallpaperflare.com_wallpaper (4).jpg
04/02/2022  08:28 AM           859,410 wallpaperflare.com_wallpaper (5).jpg
04/06/2022  04:27 PM         1,059,585 wallpaperflare.com_wallpaper (6).jpg
04/06/2022  06:48 PM           979,153 wallpaperflare.com_wallpaper (7).jpg
04/13/2022  09:23 AM           636,210 wallpaperflare.com_wallpaper (8).jpg
04/16/2022  02:34 PM         1,152,002 wallpaperflare.com_wallpaper (9).jpg
03/23/2022  12:18 AM         1,051,313 wallpaperflare.com_wallpaper.jpg
03/22/2022  04:18 AM            70,949 WhatsApp Image 2022-03-22 at 4.17.38 AM.jpeg
03/27/2022  11:41 PM           125,926 WhatsApp Image 2022-03-27 at 11.38.47 PM.jpeg
03/27/2022  09:52 PM            45,166 WhatsApp Image 2022-03-27 at 9.50.02 PM.jpeg
04/09/2022  03:06 PM           148,937 WhatsApp Image 2022-04-09 at 2.59.06 PM.jpeg
04/09/2022  03:07 PM           257,158 WhatsApp Image 2022-04-09 at 2.59.07 PM.jpeg

In [12]:
Obj = open('onlinejyotish_1665856313.pdf', 'rb')

In [13]:
pdfReader = PyPDF2.PdfFileReader(Obj)

In [14]:
print(pdfReader.numPages)

38

In [15]:
pageObj = pdfReader.getPage(0)

In [17]:
pageObj

{'/Type': '/Page',
 '/Resources': {'/ProcSet': ['/PDF', '/Text', '/ImageB', '/ImageC', '/ImageI'],
  '/ExtGState': {'/G3': {'/ca': 1, '/BM': '/Normal'},
   '/G4': {'/ca': 0, '/BM': '/Normal'}},
  '/XObject': {'/X7': {'/Type': '/XObject',
    '/Subtype': '/Image',
    '/Width': 350,
    '/Height': 350,
    '/ColorSpace': '/DeviceRGB',
    '/SMask': {'/Type': '/XObject',
     '/Subtype': '/Image',
     '/Width': 350,
     '/Height': 350,
     '/ColorSpace': '/DeviceGray',
     '/BitsPerComponent': 8,
     '/Filter': '/FlateDecode'},
    '/BitsPerComponent': 8,
    '/Filter': '/FlateDecode'}},
  '/Font': {'/F5': {'/Type': '/Font',
    '/Subtype': '/Type0',
    '/BaseFont': '/AAAAAA+Lohit-Devanagari',
    '/Encoding': '/Identity-H',
    '/DescendantFonts': [IndirectObject(3933, 0, 2196419214688)],
    '/ToUnicode': {'/Filter': '/FlateDecode'}},
   '/F6': {'/Type': '/Font',
    '/Subtype': '/Type0',
    '/BaseFont': '/BAAAAA+Mallanna',
    '/Encoding': '/Identity-H',
    '/DescendantFonts': [IndirectObject(3937, 0, 2196419214688)],
    '/ToUnicode': {'/Filter': '/FlateDecode'}},
   '/F9': {'/Type': '/Font',
    '/Subtype': '/Type0',
    '/BaseFont': '/CAAAAA+Lohit-Devanagari',
    '/Encoding': '/Identity-H',
    '/DescendantFonts': [IndirectObject(3941, 0, 2196419214688)],
    '/ToUnicode': {'/Filter': '/FlateDecode'}}}},
 '/MediaBox': [0, 0, 594.95996, 841.91998],
 '/Contents': {'/Filter': '/FlateDecode'},
 '/StructParents': 0,
 '/Parent': {'/Type': '/Pages',
  '/Count': 8,
  '/Kids': [IndirectObject(2, 0, 2196419214688),
   IndirectObject(11, 0, 2196419214688),
   IndirectObject(13, 0, 2196419214688),
   IndirectObject(15, 0, 2196419214688),
   IndirectObject(17, 0, 2196419214688),
   IndirectObject(19, 0, 2196419214688),
   IndirectObject(21, 0, 2196419214688),
   IndirectObject(23, 0, 2196419214688)],
  '/Parent': {'/Type': '/Pages',
   '/Count': 38,
   '/Kids': [IndirectObject(86, 0, 2196419214688),
    IndirectObject(87, 0, 2196419214688),
    IndirectObject(88, 0, 2196419214688),
    IndirectObject(89, 0, 2196419214688),
    IndirectObject(90, 0, 2196419214688)]}}}

In [18]:
print(pageObj.extractText())

ओ ं   ी  स ा   य    य ो   त ष  ि व   ा प ी ठ म ्
Vedic Horoscope


ज न न ी  ज   म  स ौ   य ा न ा ं , व ध   न ी  क ु ल  स ंप द ा ं  |
प द व ी  प ूव    प ु  य ा न ा ं ,   ल   य त े  ज   म प ि   क ा  ||
Birth Details
Name Taylor
Gender Female
Date of Birth 9/3/2000
Time of Birth 9:20
Place of Birth Western District, , Western District
Latitude -14.3166700: S
Longitude -170.7666700 W
Timezone -11 W

In [88]:
data = pageObj.extractText()
data

'ओ ं \x00 ी  स ा \x00 य  \x00 य ो \x00 त ष  ि व \x00 ा प ी ठ म ्  \nVedic Horoscope\n \n \nज न न ी  ज \x00 म  स ौ \x00 य ा न ा ं , व ध \x00 न ी  क ु ल  स ंप द ा ं  |\nप द व ी  प ूव \x00  प ु\x00 य ा न ा ं , \x00 ल \x00 य त े  ज \x00 म प ि \x00 क ा  ||\nBirth Details\nName Taylor\nGender Female\nDate of Birth 9/3/2000\nTime of Birth 9:20\nPlace of Birth Western District, , Western District\nLatitude -14.3166700: S\nLongitude -170.7666700 W\nTimezone -11 W'

In [20]:
import re

In [89]:
Eng_Data=re.sub("[^A-Za-z0-9 ]"," ",data)
Eng_Data

'                                                   Vedic Horoscope                                                                                                                                          Birth Details Name Taylor Gender Female Date of Birth 9 3 2000 Time of Birth 9 20 Place of Birth Western District    Western District Latitude  14 3166700  S Longitude  170 7666700 W Timezone  11 W'

In [90]:
Eng_Data=Eng_Data.strip(" ")
Eng_Data

'Vedic Horoscope                                                                                                                                          Birth Details Name Taylor Gender Female Date of Birth 9 3 2000 Time of Birth 9 20 Place of Birth Western District    Western District Latitude  14 3166700  S Longitude  170 7666700 W Timezone  11 W'

In [91]:
l = [i for i in Eng_Data.split(" ") if i.isalnum()]

In [92]:
# l=[]
# for i in Eng_Data.split(" "):
#     if i.isalnum():
#         l.append(i)
#     else:
#         pass

In [93]:
r1 = ['Vedic','Horoscope','Birth','Details','Name','Gender','Date','of','Time','Place','District','Latitude','Longitude','Timezone','W','S']

In [94]:
data1=[i for i in l if i not in r1]
data1

['Taylor',
 'Female',
 '9',
 '3',
 '2000',
 '9',
 '20',
 'Western',
 'Western',
 '14',
 '3166700',
 '170',
 '7666700',
 '11']

In [95]:
l=["Name","Gender","DOB","Location"]

Name

In [117]:
name=data1[0]
name

'Taylor'

Gender

In [116]:
gender =data1[1]
gender

'Female'

DOB

In [115]:
dob=data1[2]+"-"+data1[3]+"-"+data1[4]
dob

'9-3-2000'

Time

In [118]:
time=data1[5]+"."+data1[6]
time

'9.20'

Location

In [119]:
location=data1[7]+"-"+data1[8]+"-"+data1[9]+"-"+data1[10]+"-"+data1[11]+"-"+data1[12]+"-"+data1[13]
location

'Western-Western-14-3166700-170-7666700-11'

In [128]:
values=[[name,gender,dob,time,location]]
values

[['Taylor',
  'Female',
  '9-3-2000',
  '9.20',
  'Western-Western-14-3166700-170-7666700-11']]

In [124]:
columns=["Name","Gender","DOB","Time","Location"]

In [130]:
df=pd.DataFrame(values,columns=columns)
df

     Name  Gender       DOB  Time                                   Location
0  Taylor  Female  9-3-2000  9.20  Western-Western-14-3166700-170-7666700-11

In [131]:
x = input("Enter the path To store loaction")

Enter the path To store loactionC:\Users\tswar\Excel

In [132]:
os.chdir(x)

In [133]:
pwd

'C:\\Users\\tswar\\Excel'

In [134]:
df.to_csv("File.csv",index=False)

In [135]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A007-E621

 Directory of C:\Users\tswar\Excel

10/16/2022  10:54 AM    <DIR>          .
10/16/2022  10:54 AM    <DIR>          ..
10/16/2022  10:54 AM               102 File.csv
               1 File(s)            102 bytes
               2 Dir(s)  95,830,269,952 bytes free

------------------------------------------------------------------

In [1]:
import pandas as pd

In [2]:
col = ["Name","Gender","Date","Month","Year","Hour","Minute","Country","City"]

In [3]:
values=[["Teja","M",9,"December",1996,"09(7 AM)",30,"India","Cuddapah, Cuddapah, Andhra Pradesh"],
        ["Taylor","F",13,"December",1989,"06(10 AM)",10,"Austria","Hypolz, Politischer Bezirk Zwettl, Lower Austria"],
       ["Alex","M",1,"January",2000,"18(06 PM)",11,"Bhutan","Chapchha, , Chukha"]]

In [5]:
df=pd.DataFrame(values,columns=col)
df

,Name,Gender,Date,Month,Year,Hour,Minute,Country,City
0,Teja,M,9,December,1996,09(7 AM),30,India,"Cuddapah, Cuddapah, Andhra Pradesh"
1,Taylor,F,13,December,1989,06(10 AM),10,Austria,"Hypolz, Politischer Bezirk Zwettl, Lower Austria"
2,Alex,M,1,January,2000,18(06 PM),11,Bhutan,"Chapchha, , Chukha"

In [6]:
df.to_csv("input.csv",index=False)

In [7]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A007-E621

 Directory of C:\Users\tswar\Web_Automa

10/16/2022  11:35 AM    <DIR>          .
10/16/2022  11:35 AM    <DIR>          ..
10/16/2022  11:04 AM    <DIR>          .ipynb_checkpoints
10/16/2022  11:35 AM               296 input.csv
10/15/2022  10:13 AM               321 Untitled.ipynb
10/15/2022  10:45 AM             1,870 Untitled1.ipynb
10/15/2022  01:51 PM                72 Untitled2.ipynb
10/16/2022  11:27 AM            50,472 Untitled3.ipynb
10/15/2022  07:10 PM             7,082 Untitled3-Copy1.ipynb
10/16/2022  09:22 AM            11,183 Untitled3-Copy2.ipynb
10/16/2022  11:32 AM            51,442 Untitled3-Copy3.ipynb
10/15/2022  10:23 AM            14,931 Web_Scrapping.ipynb
               9 File(s)        137,669 bytes
               3 Dir(s)  96,117,964,800 bytes free

In [8]:
df = pd.read_csv("input.csv")
df

,Name,Gender,Date,Month,Year,Hour,Minute,Country,City
0,Teja,M,9,December,1996,09(7 AM),30,India,"Cuddapah, Cuddapah, Andhra Pradesh"
1,Taylor,F,13,December,1989,06(10 AM),10,Austria,"Hypolz, Politischer Bezirk Zwettl, Lower Austria"
2,Alex,M,1,January,2000,18(06 PM),11,Bhutan,"Chapchha, , Chukha"

In [33]:
def dataframe(sen):
    print(len(sen))
    print(sen[1])

In [34]:
dataframe(df.iloc[1])

9
F

In [32]:
for i in range(len(df)):
    print(i)

0
1
2

In [31]:
len(df)

3

In [35]:
pwd

'C:\\Users\\tswar\\Web_Automa'

In [36]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A007-E621

 Directory of C:\Users\tswar\Web_Automa

10/16/2022  11:55 AM    <DIR>          .
10/16/2022  11:55 AM    <DIR>          ..
10/16/2022  11:04 AM    <DIR>          .ipynb_checkpoints
10/16/2022  11:35 AM               296 input.csv
10/15/2022  10:13 AM               321 Untitled.ipynb
10/15/2022  10:45 AM             1,870 Untitled1.ipynb
10/15/2022  01:51 PM                72 Untitled2.ipynb
10/16/2022  11:55 AM            52,420 Untitled3.ipynb
10/15/2022  07:10 PM             7,082 Untitled3-Copy1.ipynb
10/16/2022  09:22 AM            11,183 Untitled3-Copy2.ipynb
10/16/2022  11:55 AM            60,842 Untitled3-Copy3.ipynb
10/15/2022  10:23 AM            14,931 Web_Scrapping.ipynb
               9 File(s)        149,017 bytes
               3 Dir(s)  96,112,472,064 bytes free