In [1]:
import os
import time
import selenium
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import time

In [2]:
x = input("Please Enter Path")
y = input("Please Enter File Name")
xy = x+"/"+y
df  = pd.read_csv(xy)

Please Enter PathC:\Users\tswar\Web_Automa
Please Enter File Nameinput.csv

In [3]:
df

,Name,Gender,Date,Month,Year,Hour,Minute,Country,City
0,Teja,M,9,December,1996,09(7 AM),30,India,"Cuddapah, Cuddapah, Andhra Pradesh"
1,Taylor,F,13,December,1989,06(10 AM),10,Austria,"Hypolz, Politischer Bezirk Zwettl, Lower Austria"
2,Alex,M,1,January,2000,18(06 PM),11,Bhutan,"Chapchha, , Chukha"

In [4]:
def dataframe(record1):
    chromeOptions = webdriver.ChromeOptions()
    prefs = {"plugins.always_open_pdf_externally":True,"download.default_directory":r"C:\Users\tswar\Testing_UI\PDf_Files"}
    chromeOptions.add_experimental_option("prefs",prefs)
    # chromeOptions.headless = True
    chromeOptions.add_argument("--disable-notifications")
    chromedriver = "C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe"
    browser = webdriver.Chrome(executable_path=chromedriver, chrome_options=chromeOptions)
    browser.get("https://www.onlinejyotish.com/horo/")
    browser.maximize_window()
    A1 = record1[0]
    A2 = record1[1]
    A3 = int(record1[2])
    A4 = record1[3]
    A5 = int(record1[4])
    A6 = record1[5]
    A7 = int(record1[6])
    A8 = record1[7]
    A9 = record1[8]
    Name = browser.find_element(By.ID,'name')
    Name.send_keys(A1)
    Sex = browser.find_element(By.ID,'sex')
    Sex.send_keys(A2)
    Day = browser.find_element(By.ID,'day')
    Day.send_keys(A3)
    Month = browser.find_element(By.ID,'month')
    Month.send_keys(A4)
    Year = browser.find_element(By.ID,'year')
    Year.clear()
    Year.send_keys(A5)
    Hour = browser.find_element(By.ID,'hour')
    Hour.send_keys(A6)
    Minute = browser.find_element(By.ID,'minute')
    Minute.send_keys(A7)
    Country = browser.find_element(By.ID,'country')
    Country.send_keys(A8)
    City = browser.find_element(By.ID,'city')
    City.clear()
    City.send_keys(A9)
    ci=browser.find_elements(By.ID,'livesearch')
    time.sleep(2)
    ci[0].click()
    time.sleep(5)
    Sub = browser.find_element(By.XPATH,"/html/body/div[2]/div/div/div/div[1]/form/div/div/table/tbody/tr[15]/td/input[4]")
    Sub.click()
    time.sleep(5)
    Pd = browser.find_element(By.ID,'btn')
    Pd.click()
    time.sleep(10)
    PDF = browser.find_element(By.XPATH,'/html/body/div[2]/div/div/div[1]/a[1]')
    PDF.click()
    try:
        time.sleep(10)
        T1=browser.find_element(By.XPATH,'/html/ins')
        T2=T1.find_element(By.XPATH,'//*[@id="aswift_5"]')
        browser.switch_to.frame(T2)
        T3=browser.find_element(By.XPATH,'//*[@id="ad_iframe"]')
        browser.switch_to.frame(T3)
        fin = browser.find_element(By.XPATH,'//*[@id="dismiss-button"]')
        fin.click()
        time.sleep(30)
    except:
        print("ERROR@@@@@@@@@@")
        pass
    return

In [5]:
for i in range(len(df)):
    dataframe(df.iloc[i])

<h3 style="color:green">PDF Extraction</h3>

In [13]:
import PyPDF2
import os
import re

In [14]:
os.chdir(r'C:\Users\tswar\Testing_UI\PDf_Files')

In [15]:
l=["Name","Gender","DOB","Location"]
columns=["Name","Gender","DOB","Time","Location"]
values=[]

In [16]:
for i in os.listdir():
    Obj = open(i, 'rb')
    pdfReader = PyPDF2.PdfFileReader(Obj)
    pageObj = pdfReader.getPage(0)
    data = pageObj.extractText()
    Eng_Data=re.sub("[^A-Za-z0-9 ]"," ",data)
    Eng_Data=Eng_Data.strip(" ")
    l = [i for i in Eng_Data.split(" ") if i.isalnum()]
    r1 = ['Vedic','Horoscope','Birth','Details','Name','Gender','Date','of','Time','Place','District','Latitude','Longitude','Timezone','W','S']
    data1=[i for i in l if i not in r1]
    name=data1[0]
    gender =data1[1]
    dob=data1[2]+"-"+data1[3]+"-"+data1[4]
    time=data1[5]+"."+data1[6]
    location=data1[7]+"-"+data1[8]+"-"+data1[9]+"-"+data1[10]+"-"+data1[11]+"-"+data1[12]+"-"+data1[13]
    values.append([name,gender,dob,time,location])

In [17]:
df=pd.DataFrame(values,columns=columns)
df

,Name,Gender,DOB,Time,Location
0,Teja,Male,9-12-1996,9.30,State-Himachal-Pradesh-Himachal-Pradesh-31-916...
1,Taylor,Female,13-12-1989,6.10,Politischer-Bezirk-Zwettl-Politischer-Bezirk-Z...
2,Alex,Male,17-1-2000,18.11,Tsimasham-Chukha-27-0989000-N-89-5360400

In [18]:
x = input("Enter the path To store loaction")

Enter the path To store loactionC:\Users\tswar\Testing_UI\Excel

In [19]:
os.chdir(x)

In [20]:
df.to_csv("File.csv",index=False)